<footer class="foot">
    <div class="container">
        <nav class="foot-nav">
        <a href="#">Екскурсії Львовом</a>
        <a href="#">Одноденні тури</a>
        <a href="#">Тури вихідного дня</a>
        <a href="#">Ітдівідуальні тури</a>
        <a href="#">Про нас</a>
        <a href="#">Цікаве</a>
        <a href="#">Контакти</a>
    </nav>
        <div class="foot__contacts">
            <div class="foot__contacts-order">
                <h2 class="foot__contacts__head">Замовлення екскурсій:</h2>
                <ul>
                    <li><address>+38 067 251 9037</address></li>
                    <li><address>+38 099 284 6383</address></li>
                    <li>Viber: <address>+38 067 251 9037</address></li>
                    <li><address>koliganka.travel@gmail.com</address></li>
                </ul>
            </div>
            <div class="foot__contacts__social">
                <h2 class="foot__contacts__head">Ми у соціальних мережах</h2>
                <div class="foot__contacts__social-button">
                    <a href="#"><img src="img/instagram.png" alt="#"></a>
                    <a href="#"><img src="img/fb.png" alt="#"></a>
                </div>
            </div>
        </div>
        <small class="foot-copyright">© 2018 Koliganka & Travel Всі права захищені</small>
    </div>
</footer>
</body>
</html>