<main class="general">
    <div class="general-slider">
        <div class="general__slid">
            <img src="images/balloons.jpg" alt="balloons">
            <p class="general__slid-text">Закохуемо в мандрівку</p>
        </div>
    </div>
    <div class="general__proposal">
        <div class="container">
            <div class="general__proposal__text">
                <h2 class="general__proposal__text-head">Вам сподобається</h2>
                <span>Наші найкращі пропозиції</span>
            </div>
            <div class="general__proposal-items">
                <div class="general__proposal__item">
                    <img src="images/sinevir.jpg" alt="sinevir">
                    <div class="general__proposal-element">
                        <a href="#" class="general__proposal__item-description">
                            <div class="general__proposal__item-text">
                                <span class="general__proposal__item-head">Синевир</span>
                                <span class="general__proposal__item-view">Одноденний тур</span>
                            </div>
                            <span class="general__proposal__item-pris">400<img src="img/s.png"></span>
                        </a>
                    </div>
                </div>
                <div class="general__proposal__item">
                    <img src="images/sirevoi_tur.jpg" alt="sirevoi_tur">
                    <a href="#" class="general__proposal__item-description">
                        <div class="general__proposal__item-text">
                            <span class="general__proposal__item-head">Сировинний тур</span>
                            <span class="general__proposal__item-view">Тур вихідного дня</span>
                        </div>
                        <span class="general__proposal__item-pris general__proposal__item-pris-sir">400<img src="img/s.png"></span>
                    </a>
                </div>
                <div class="general__proposal__item">
                    <img src="images/gold_horseshoe.jpg" alt="gold_horseshoe">
                    <a href="#" class="general__proposal__item-description">
                        <div class="general__proposal__item-text">
                            <span class="general__proposal__item-head">Золота підкова</span>
                            <span class="general__proposal__item-view">Одноденний тур</span>
                        </div>
                        <span class="general__proposal__item-pris">400<img src="img/s.png"></span>
                    </a>
                </div>
                <div class="general__proposal__item">
                    <img src="images/tunnel_love.jpg" alt="tunnel_love">
                    <a href="#" class="general__proposal__item-description">
                        <div class="general__proposal__item-text">
                            <span class="general__proposal__item-head">Тунель кохання та<br>перлини Волині</span>
                            <span class="general__proposal__item-view">Тур вихідного дня</span>
                        </div>
                        <span class="general__proposal__item-pris general__proposal__item-pris-love">400<img src="img/s.png"></span>
                    </a>
                </div>
                <div class="general__proposal__item">
                    <img src="images/pochaev.jpg" alt="pochaev">
                    <a href="#" class="general__proposal__item-description">
                        <div class="general__proposal__item-text">
                            <span class="general__proposal__item-head">Почаїв</span>
                            <span class="general__proposal__item-view">Одноденний тур</span>
                        </div>
                        <span class="general__proposal__item-pris">400<img src="img/s.png"></span>
                    </a>
                </div>
                <div class="general__proposal__item">
                    <img src="images/cofe_lviv.png" alt="cofe_lviv">
                    <a href="#" class="general__proposal__item-description">
                        <div class="general__proposal__item-text">
                            <span class="general__proposal__item-head">Кавовий Львів</span>
                            <span class="general__proposal__item-view">Екскурсія львовм</span>
                        </div>
                        <span class="general__proposal__item-pris general__proposal__item-pris-cofe">400<img src="img/s.png"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</main>