<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Koliganka</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no">
    <meta name="theme-color" content="#4285f4">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header class="head clearfix">
    <div class="container">
        <div class="element">
        <a class="head-logo" href="index.html">
            <img src="images/logo.png" alt="logo">
        </a>
        <div class="head-languages">
            <a href="#"><img src="img/ua.png" alt="ua"></a>
            <a href="#"><img src="img/eng.png" alt="eng"></a>
            <a href="#"><img src="img/pl.png" alt="pl"></a>
            <a href="#"><img src="img/ru.png" alt="ru"></a>
        </div>
        </div>
        <nav class="head-nav">
            <a href="#">Екскурсії Львовом</a>
            <a href="#">Одноденні тури</a>
            <a href="#">Тури вихідного дня</a>
            <a href="#">Ітдівідуальні тури</a>
            <a href="#">Про нас</a>
            <a href="#">Цікаве</a>
            <a href="#">Контакти</a>
        </nav>
    </div>
</header>